* {
    color:aquamarine;
}
h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50;
    display: inline-block;
    width: 30pc;
    height: 4pc;
    background-color: rgb(184, 255, 229);
    margin: 10;
    text-align: center;

}
.topics P {
    display:inline-block ;
    background-color: blanchedalmond;
}
#home {
    text-align: center;
    background-image:url(https://e0.pxfuel.com/wallpapers/846/344/desktop-wallpaper-portfolio.jpg);
    height: 67%;
    width: 100%
}