* {
    color:aquamarine;
    background-color: rgb(62, 60, 60);
    background-image: url("https://i.pinimg.com/1200x/ad/0b/dd/ad0bddc0349fe3afe7c06a4d7ab5745d.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
main {
    align-items: center;
    border-width: 5px;
    border-color: rgb(137, 251, 217);
    text-align: justify;
}
h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50;
    text-align: center;
}
.contents > h2 {
    text-align: center;
}
.topics P {
    display:inline-block ;
    background-color: blanchedalmond;
}
#home {
    word-spacing: 50px;
    margin-top: 20px;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 10;
}
#home {
    color: bisque;
}
#image img {
   border-style: solid;
   border-width: 3px;
   border-color: rgb(117, 117, 117);
   border-radius: 100%;
   width: 190;
   float:left;
}
#intro {
    padding: 100 px;
    float: right;
}
.nav-btn {
    display: inline-block;
    font-size: medium;
    font-family: sans-serif;
    width: auto;
    color: aliceblue;
    padding: 3px ;
    margin:0px 2px;
    text-decoration: none;
}
.text {
    padding: 0px 100px 0px 100px;
    margin-left: 200;
    line-height: 1.5;
    font-size: 25;
}
body {
    margin: 0;
    border-style: solid;
    border-width: 50px;
    border-color: rgb(1, 1, 1);

}
#contact li>a:hover {
    color: rgb(0, 250, 129);
}
#contact li>a:visited {
    color: rgb(205, 205, 205);
}
h2{
    text-shadow: 4px 4px 8px rgb(109, 116,116);
}
.text p>a {
    color: rgb(87, 140, 140);

}
hr{
    margin: 0px 100px 0px 100px;
}