* {
    color:aquamarine;
    background-color: rgb(62, 60, 60);
    background-image: url("https://i.pinimg.com/1200x/ad/0b/dd/ad0bddc0349fe3afe7c06a4d7ab5745d.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50;
    display: inline-block;
    width: 30pc;
    height: 4pc;
    background-color: rgb(184, 255, 229);
    margin: 10;
    text-align: center;

}
.topics P {
    display:inline-block ;
    background-color: blanchedalmond;
}
#home {
    text-align: center;
}